.clock {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    margin-right: 19px;
    padding-top: 375px;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 621px) {
    .clock {
        padding-top: 280px;
    }
}

@media (max-width: 330px) {
    .clock {
        display: flex;
        justify-content: center;
        padding-top: 130px;
    }
}