.form {
    font-family: 'Josefin Slab', serif;
    text-align: center;
    margin: 20px auto;
    width: 100%;
    max-width: 400px;
}

.form__fieldset {
    border-radius: 20px;
}

.form__legend {
    font-weight: 700;
    font-size: 20px;
}

.form__label {
    font-weight: 700;
}

.form__select {
    text-shadow: 1px 1px black;
    font-weight: 700;
    color: rgb(0, 185, 31);
    background-color: rgb(180, 180, 180);
    border-radius: 5px;
}

.form__number {
    border-radius: 5px;
    text-align: center;
    box-shadow: black;
}