.footer {
    padding: 7px;
    font-size: 20px;
    font-family: 'Bigelow Rules', cursive;
    color: rgb(255, 255, 255);
    margin-top: 440px;
    background-color: rgb(11, 11, 11);
    text-align: center;
}